.sign-up-modal {
    width: 20rem;
    max-width: 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-modal-image {
    height: 2rem;
}
