.chat-rooms {
    padding-top: 1rem;
}

.chat-rooms__headline {
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.chat-rooms__add-room-button {
    border: none;
    outline: none;
    display: block;
    margin: 0 auto 1.5rem auto;
    padding: 1.5rem 1.5rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: #f2f2f2cc;
    }
}

.chat-rooms__container {
    max-width: 50rem;
    padding: 0.5rem;
    margin: auto;
}

.chat-rooms__room {
    display: block;
    background-color: #f2f2f2;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;

    &:hover {
        background-color: #f2f2f2cc;
    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.chat-rooms__room-header {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.chat-rooms__room-name {
    letter-spacing: 0.05rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.chat-rooms__room-description {
    letter-spacing: 0.05rem;
    line-height: 1.1;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 400;
}
