@import "./fonts/fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: "Source Sans Pro", sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #000000;
}
